/* RESET CSS  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* GLOBALS  STYLE */
.hidden {
  display: none !important;
}
.App {
  width: 100%;
  min-height: 100vh;
  background-color: #282c34;
  flex-wrap: wrap;
}
.App__wrapper-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  max-height: 100vh;
}

.App-link {
  color: #61dafb;
}
/* CARD STYLE */
.card-wrapper {
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card-container {
  background: #fff;
  width: 14rem;
  height: 20rem;
  border-radius: 7px;
  margin: 10px;
}
.card-content__inner,
.card-content-inner__border-top,
.card-content-inner__border-bottom {
  width: 90%;
}
.card-content-inner__border-top,
.card-content-inner__border-bottom {
  height: 10%;
}
.card-content__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: inherit;
}
.card-content-inner__border-top,
.card-content-inner__border-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
}

.card-content-inner__center {
  width: 100%;
  height: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -1rem;
}
.top-symbol-sigle,
.bottom-symbol-sigle {
  text-align: center;
  width: 100%;
}

.top-symbol,
.bottom-symbol {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.top-symbol {
  align-items: flex-start;
}
.bottom-symbol {
  align-items: flex-end;
}
.center-symbol-sigle {
  font-size: 72px;
}

/* DYNAMIC COLOR CLASS SECTION */
.red {
  color: red;
}
.black {
  color: black;
}

/* DYNAMIC CENTER CARD SECTION */
.grid-3,
.grid-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10 {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1px;
  align-items: center;
  width: 89%;
  text-align: center;
}
.grid-4 {
  grid-gap: 5px;
}

.grid-5 .centerCard:last-child {
  position: absolute;
  transform: translate(5rem, 0);
}
.grid-5 {
  grid-gap: 54px;
}
.grid-6 {
  grid-gap: 11px;
  transform: translate(0, -1rem);
}
.grid-7 {
  grid-gap: 14px;
  transform: translate(0, -1rem);
}
.grid-7 .centerCard:last-child {
  position: absolute;
  transform: translate(80px, -20px);
}
.grid-8 {
  transform: scale(0.9) translate(0, -3.4rem);
}
.grid-9 {
  transform: scale(0.9) translate(0, -3rem);
}
.grid-10 {
  transform: scale(0.9) translate(0, -2.7rem);
  grid-row-gap: 0px;
  grid-column-gap: 34px;
}

.grid-9 .centerCard:last-child {
  position: absolute;
  transform: translate(5rem, -2rem);
}

.grid-10 .centerCard:last-child {
  position: absolute;
  transform: translate(5rem, -2rem);
}
.grid-10 .centerCard:nth-child(9) {
  position: absolute;
  transform: translate(79px, 137px);
}
.figure-picture {
  transform: scale(0.94) translate(0, 10px);
}

/* BUTTON SECTION */
button {
  background: none;
  border: 1px solid #fff;
  outline: none;
  margin: 0.1rem;
  padding: 0.4rem;
  font: inherit;
  font-size: 0.75rem;
  line-height: 1;
  color: #fff;
  cursor: pointer;
}
button:hover {
  background-color: #fff;
  color: #444;
}

/* MODAL SCORE SECTION */
.modal-form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
}
.modal-form .infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  padding: 4rem;
  width: 45vw;
}
.inputs-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  padding-top: 2rem;
}

input,
select {
  width: 70%;
  margin-bottom: 1rem;
  height: 45px;
  text-indent: 0.4rem;
  outline: none;
  border: none;
  background-color: whitesmoke;
}
.country-name {
  text-align: center;
  width: 100%;
}
.bottomFormSection {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}
.infosResume {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  line-height: 1.4rem;
}
.ScoreSection {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
}

.infosResume,
.ScoreSection {
  border: 1px dotted black;
}
.nameSection,
.infos-container,
.header-score-content {
  padding: 0.2rem;
  border: 1px dotted black;
}
.infos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.SendingButton {
  border: 1px solid #282c34 !important;
  color: #282c34 !important;
  transition: all 0.4s ease-in-out;
}
.SendingButton:hover {
  transform: scale(1.1);
  transition: all 0.4s ease-in-out;
}
.CumulScoreEachReload {
  color: white;
  font-size: 22px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* ANIMATIONS */
.scale-out-center {
  animation: scale-out-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
.scale-in-center {
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* KEYFRAMES ANIMATIONS */
@keyframes scale-out-center {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* MEDIA QUERIES */
@media screen and (max-width: 1600px) {
  .App {
    height: auto;
  }
  .App__wrapper-container {
    transform: scale(0.8) translate(0, -5rem);
  }
  .inputs-container {
    margin-top: 3rem !important;
    width: 98% !important;
  }
}
